#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  margin-top: 40px;
}

.circle {
  width: 90px;
  height: 90px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(132,246,247,1) 100%);
  /*background-color: #535bf2;*/
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.btn {
  background-color: #535bf2;
  color: white;
}